__pycache__
.pytest_cache
.env
*.log
*.ipynb_checkpoints
Data/*
**/Data/
context/
to_do/
data/
drive-download-*/
drive-download-*.zip
*.mvnx
*.xlsx
*.crdownload

*DS_Store

.vscode/*

UtilsDynamicSimulations/OpenSimAD/build-ExpressionGraphF*
UtilsDynamicSimulations/OpenSimAD/build-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/install-ExternalFunctionF*
UtilsDynamicSimulations/OpenSimAD/opensimAD-install/*
.gstack/
